.container-lists{
    display: flex;
    justify-content:space-evenly;
    text-align: justify;
}

.one{
    background-color: #ff9999;
    color: #32cd32;
}

.two{
    background-color: #ff9999;
    color: #4169e1;
}

ol li{
    list-style-type:decimal;
    color: rgb(144, 6, 86)
}

.rounded {
    counter-reset: li; 
    list-style: none; 
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }